.app {
  background-color: #1e1e2e;
  color: white;
  height: 100vh;
  padding: 1rem;
  overflow: auto;
}

.inputContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.input {
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  color: white;
  width: 100%;
  font-size: large;
  caret-color: auto;
}

.terminal {
  white-space: pre-line;
}
