/*
  Colors used : Catppucin Mocha
  https://catppuccin.com/palette/
*/

.app {
  background-color: #1e1e2e;
  color: #cdd6f4;
  height: 100vh;
  padding: 1rem;
  overflow: auto;
}

.inputContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.input {
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  color: #cdd6f4;
  width: 100%;
  font-size: large;
  caret-color: auto;
}

.terminal {
  /* Very important to make \n works */
  white-space: pre-line;
}
